/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
	body{min-width:880px;}

}
@media only screen and (max-width: 1024px) {
	[data-bg="timeline_bg"]{
		-webkit-background-size: auto 100%;
		     -o-background-size: auto 100%;
		        background-size: auto 100%;
	}	
}

@media only screen and (max-width: 995px) {
	body{min-width:760px;}
}

@media only screen and (max-width: 767px) {
	body{min-width:480px;}
	.content{
		padding: 32px 0;
	}
	.title11{font-size: 30px;}
	.title2{font-size: 26px;}

	p{text-align: justify;}
}

@media only screen and (max-width: 480px) {
	body{min-width:300px;}
	.title3{font-size: 20px;}
}